on early-init
    mkdir /mnt/phh
    mount tmpfs tmpfs /mnt/phh rw,nodev,relatime,mode=755,gid=0
    mkdir /mnt/phh/empty_dir
    write /mnt/phh/empty_file ""
    mount none /mnt/phh/empty_file /system/bin/hw/android.hardware.vibrator@1.3-service.meizu bind
    mount none /mnt/phh/empty_file /system/etc/init/android.hardware.vibrator@1.3-service.meizu.rc bind
    mount none /system/etc/vintf/manifest/manifest_dummy.xml /system/etc/vintf/manifest/android.hardware.vibrator@1.3-service.meizu.xml bind

on early-init && property:ro.product.vendor.brand=meizu
    umount /system/bin/hw/android.hardware.vibrator@1.3-service.meizu
    umount /system/etc/init/android.hardware.vibrator@1.3-service.meizu.rc
    umount /system/etc/vintf/manifest/android.hardware.vibrator@1.3-service.meizu.xml

on post-fs
    exec - root -- /system/bin/treble-post-fs.sh

on property:persist.sys.treble.mainkeys=*
    setprop qemu.hw.mainkeys ${persist.sys.treble.mainkeys}

on property:persist.sys.treble.caf.audio_policy=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/treble-prop-handler.sh "persist.sys.treble.caf.audio_policy"

on property:persist.sys.treble.caf.disable_soundvolume_effect=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/treble-prop-handler.sh "persist.sys.treble.caf.disable_soundvolume_effect"

on property:persist.sys.treble.backlight_scale=*
    exec u:r:phhsu_daemon:s0 root -- /system/bin/treble-prop-handler.sh "persist.sys.treble.backlight_scale"
